//TYPOGRAPHY
@include font-face('Tajawal', '/src/sass/fonts/Tajawal/Tajawal-Light', 'lighter', 'normal', 'ttf');
@include font-face('Tajawal', '/src/sass/fonts/Tajawal/Tajawal-Regular', 'normal', 'normal', 'ttf');
@include font-face('Tajawal', '/src/sass/fonts/Tajawal/Tajawal-Bold', 'bold', 'normal', 'ttf');


#app{
    font-size: 1.6rem;
    font-family: Tajawal, sans-serif;

    button{
        font-family: inherit;
    }
}



