.btn-next{
    float: right;
    margin-right: 0.75rem;
    padding: 0 3rem;
    border-radius: 1.5rem;
    background-color: transparent;
    border: 2px solid $color-white;
    font-size: 2rem;
    @include box-shadow-default;

    &:hover,&:active{
        background-color: transparent;
        transform: translateY(-1px);
        @include box-shadow-hover;
    }
    &:link,&:visited,&:focus{
        background-color: transparent;
    }
}

.btn-info{
    float: right;
    margin-right: 0.75rem;
    padding: 0 3rem;
    border-radius: 1.5rem;
    background-color: transparent;
    border: 2px solid $color-white;
    font-size: 2rem;
    @include box-shadow-default;

    &:hover,&:active{
        background-color: transparent;
        transform: translateY(-1px);
        @include box-shadow-hover;
    }
    &:link,&:visited,&:focus{
        background-color: transparent;
    }
}

.btn-finish{
    float: right;
    position: absolute;
    right: 0;
    margin-top: -4rem;
    padding: 0 3rem;
    border-radius: 1.5rem;
    background-color: transparent;
    border: 2px solid $color-white;
    font-size: 2rem;
    @include box-shadow-default;
    transform: translateY(1250%);
    z-index: 1;

    &:hover,&:active{
        background-color: transparent;
        @include box-shadow-hover;
    }
    &:link,&:visited,&:focus{
        background-color: transparent;
    }
}

.btn-start{
    margin: 12rem auto 0 auto;
    display: block;
    padding: 0 3rem;
    border-radius: 1.5rem;
    background-color: transparent;
    border: 2px solid $color-primary;
    font-size: 2rem;
    @include box-shadow-default;
    -webkit-animation: breathing 7s ease-out infinite normal;
    animation: breathing 7s ease-out infinite normal;

    &:hover,&:active{
        background-color: transparent;
        @include box-shadow-hover;
    }
    &:link,&:visited,&:focus{
        background-color: transparent;
    }
}