.welcome--container {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: $color-white;
    text-transform: uppercase;
    font-size:3.6rem;
    font-weight:bold;
    display:block;
    margin: 0 auto;
}

.welcome--animation {
    height:5rem;
    overflow:hidden;

    & > div > div {
        color: $color-white;
        height:4.5rem;
        margin-bottom:4.5rem;
        display:inline-block;
    }
    & div:first-child {
        animation: show 5s linear infinite;
    }
    & div div {
        color: $color-tertiary;
    }
    & div:first-child div {
        color: $color-secondary;
    }
    & div:last-child div {
        color: $color-quaternary;
    }
}




